body{
    background-color: blue;
    color: white;
    font-family: "Audiowide", sans-serif;
}

.header-container
{
    display: flex;
    justify-content: center;
}

.p-container
{
    display: flex;
    justify-content: center;
}


.button-container{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;

}

h3{
    display: flex;
    justify-content: center;
}

button{
    background-color: blanchedalmond;
    font-family: "Audiowide", sans-serif;
}

.container{
    background-color: white;
    width: 500px;
    height: 500px;
    margin: auto;
}

#grid-square {
    border: solid lightgray;
}

.active {
    background-color: gold;
}