body{
    background-color: blue;
    color: white;
}

.button-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.container{
    background-color: white;
    width: 500px;
    height: 500px;
    margin: auto;
}

#grid-square {
    border: solid black;
}